@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
Welcome to your new app.
<AuthorizeView>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>
    </AuthorizeView>
<div>
    <AuthorizeView Roles="admin">
        <input type="button" class="btn-danger" value="Admin" />
    </AuthorizeView>

    <AuthorizeView Roles="user">
        <input type="button" class="btn-info" value="User" />
    </AuthorizeView>
</div>
